# Continuação de Strings e suas funções e métodos

Existem funções prontas que nos ajudam a trabalhar com strings

- Maiúscula e minúscula (capitalazação das letras)

In [1]:
frase = 'QuErO mOsTrar UMA frase'

print(frase)

QuErO mOsTrar UMA frase

In [4]:
# Quero a frase toda em letras maiúsculas

maiuscula = frase.upper() #método que transforma a string em letras maíusculas... Ele não modifica a variável

print(maiuscula)

QUERO MOSTRAR UMA FRASE

In [5]:
# quero a frase toda em letras minúsculas

minuscula = frase.lower()
minuscula

'quero mostrar uma frase'

In [7]:
# bonus
"xxxx@gmail.com".split("@") #separar a string por um caracter (espaço, vírgula)

['xxxx', 'gmail.com']

In [8]:
# quero colocar apenas a primeira maiúscula e o resto da frase em minúscula

capitalize =  frase.capitalize()
capitalize

'Quero mostrar uma frase'

In [10]:
# quero maiúscula a primeira letra de cada palavra

title = frase.title()
title

'Quero Mostrar Uma Frase'

In [11]:
frase # string imutável

'QuErO mOsTrar UMA frase'

In [12]:
# um exemplo onde fica mais fácil usar essas funções

usuario = input('Digite "sim" se aceita os termos de uso: ')
if usuario.upper() == 'SIM': # evita ter que comparar com sim, Sim, sIm, S, s
    print('Seja bem-vindo!')
else:
    print('Que pena.')

Seja bem-vindo!

## Quebrando uma string

In [13]:
texto = "um texto qualquer aqui, por exemplo"

palavras = texto.split() #quebrando o texto em palavras - separando as palavras pelo "espaço" (padrão) -> transforma em lista
print(palavras) # obs.: split(" ")

['um', 'texto', 'qualquer', 'aqui,', 'por', 'exemplo']

In [14]:
texto_2 = texto.split(',')
texto_2

['um texto qualquer aqui', ' por exemplo']

In [16]:
# pegando o primeiro elemento da string texto_2 e separar por espaço

texto_2[0].split()

['um', 'texto', 'qualquer', 'aqui']

In [23]:
# Podemos usar vários métodos na mesma linha, na sequência

frase.lower().split()[-1]

print('frase: ',frase)
print('frase.lower(): ',frase.lower())
print('frase.lower().split(): ', frase.lower().split())
print('frase.lower().split()[-2]: ', frase.lower().split()[-2]) # -2 é o penúltimo elemento

frase:  QuErO mOsTrar UMA frase
frase.lower():  quero mostrar uma frase
frase.lower().split():  ['quero', 'mostrar', 'uma', 'frase']
frase.lower().split()[-2]:  uma

In [25]:
# Separar em dia, mês e ano

data = '16/11/2022'

lista_data = data.split('/')

lista_data

['16', '11', '2022']

In [26]:
dia = int(lista_data[0])
mes = int(lista_data[1])
ano = int(lista_data[2])

print('Dia: ', dia)
print('Mês: ', mes)
print('Ano: ', ano)

Dia:  16
Mês:  11
Ano:  2022

In [30]:
# voltar para a data original (string)

str(dia) + '/' + str(mes) + '/' + str(ano)# Concatenar

'16/11/2022'

In [34]:
# como substituir "11" por novembro

nova_data = data.replace('11', 'Novembro')

nova_data

'16/Novembro/2022'

In [36]:
nova_data.replace('/', '.')

'16.Novembro.2022'

In [38]:
# podemos usar o replace para "apagar" um caracter

nova_data.replace('2', '')

'16/Novembro/0'

documentação do replace: https://docs.python.org/3/library/stdtypes.html

```python  

str.replace(old, new[, count])


Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

```

In [51]:
print(nova_data)

nova_data.replace('2', '', 1) # substituir o valor 2 na 1ª ocorrência

16/Novembro/2022

'16/Novembro/022'

## Concatenar strings em uma coleção (unir letras)

In [53]:
# Relembrando
print(frase)
# transformar uma string em lista

print(list(frase))

QuErO mOsTrar UMA frase
['Q', 'u', 'E', 'r', 'O', ' ', 'm', 'O', 's', 'T', 'r', 'a', 'r', ' ', 'U', 'M', 'A', ' ', 'f', 'r', 'a', 's', 'e']

In [55]:
# transformar uma lista em string (juntando todas as letras)
lista = ['a', 'b', 'c']

''.join(lista) # unindo os elementos da lista pelo caracter vazio ('') todas as letras (ou melhor, todos os elementos)

'abc'

In [56]:
'-'.join(lista)

'a-b-c'

In [59]:
print(lista_data)

'/'.join(lista_data)

['16', '11', '2022']

'16/11/2022'

In [60]:
'texto'.join(['1','2']) # o join é método de string

'1texto2'

In [62]:
lista = ['a', 'b', 'c']
separador = '123'

resultado = separador.join(lista) # contrário do split()

resultado

'a123b123c'

lista é lista  
separador é uma string  
resultado é uma string  

.join(lista) --> transforma uma lista em uma string

O join não funciona apenas com lista mas sim com qualquer objeto iterável

```python

str.join(iterable)

Return a string which is the concatenation of the strings in iterable. A TypeError will be raised if there are any non-string values in iterable, including bytes objects. The separator between elements is the string providing this method.
```

## Formatando strings

    Eu, __, portador do CPF ___, residente no endereço _____ autorizo o procedimento.

In [64]:
nome = 'João da Silva'
cpf = '123.456.789-00'
endereco = 'Av Brigadeiro Faria Lima, 1306'

- Usando o .format()

In [65]:
contrato = 'Eu {}, portador do CPF nº {}, residente no endereço {} autorizo o procedimento'

In [66]:
contrato.format(nome,cpf, endereco)

'Eu João da Silva, portador do CPF nº 123.456.789-00, residente no endereço Av Brigadeiro Faria Lima, 1306 autorizo o procedimento'

- Usando o f-string

In [67]:
contrato = f'Eu {nome}, portador do CPF nº {cpf}, residente no endereço {endereco} autorizo o procedimento'
contrato

'Eu João da Silva, portador do CPF nº 123.456.789-00, residente no endereço Av Brigadeiro Faria Lima, 1306 autorizo o procedimento'

In [68]:
dia = 1
mes = 2
ano = 2022

'01/02/2022' # formato que queremos

'01/02/2022'

In [69]:
f'{dia}/{mes}/{ano}'

'1/2/2022'

In [72]:
# dica: zfill --> string

str(dia).zfill(2)

print(str(dia).zfill(2) + '/' + str(mes).zfill(2) + '/' + str(ano))

01/02/2022

In [73]:
# outra forma de resolver
data = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data)

# : passaremos opçoes
# d nº inteiro em base decimal (0 a 9)
# 2 e 4 casas
# 0 se faltar dígito, completa com zero

01/02/2022

In [74]:
precoLitro = 5.234
litros = 29.5
total = precoLitro * litros
print(total) # resultado: 154.403

precoFinal = 'R$ {:.2f}'.format(total)
print(precoFinal) # resultado: R$ 154.40

# : vou passar opções
# .2 2 casas decimais _ arredonda o valor
# f float = valor decimal

154.403
R$ 154.40

O format possui tantas opções diferentes que existe um site inteiro dedicado a explicar e dar exemplos: https://pyformat.info/

In [75]:
precoLitro = 5.234
litros = 29.5
total = precoLitro * litros
print(total) # resultado: 154.403

precoFinal = 'R$ {}'.format(round(total,2)) #arrendondando o valor
print(precoFinal) # resultado: R$ 154.40

# : vou passar opções
# .2 2 casas decimais _ arredonda o valor
# f float = valor decimal

154.403
R$ 154.4

# List Comprehension (compreensão de listas)

In [76]:
# quero uma lista com o cálculo do quadrado dos valores de 0 a 9

lista_quadrados = []

for i in range(10):
    lista_quadrados.append(i * i)
    
print(lista_quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
lista_quadrados_2 = [ i * i for i in range(10) ]
lista_quadrados_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[ expressão for(para) cada elemento iterável]

for i in range(10):
    if
        i * i
    else