# Recados

- Segunda, dia 29 vai ter mais uma aula super legal de Programação Básica
- Terça, dia 30 começa o curso de Versionamento e Arquivos de Marcação
- Quarta, dia 01 é a segunda aula de Versionamento e Arquivos de Marcação
- E continua toda 2ª, 4ª e 6ª

Excepcionalmente nesse módulo teve essa alteração da aula extra

Avaliação por rubrica:

- Avaliação do professor e do curso: https://forms.gle/2kfb4NakEupK91sy7
- Autoavaliação: https://forms.gle/mADjTJ6x8e3soUuw6

# List comprehension e expressões geradoras

In [5]:
# LISTAS

numeros = [1, 3, 6, 2, 4, -1]

# Utilizar expressões geradoras (list comprehension) para dividir cada um dos números pares da lista por 2.

metade_pares = [n/2 for n in numeros if n % 2 ==0]

print(metade_pares)

[3.0, 1.0, 2.0]

In [4]:
lista_numeros = []

for n in numeros:
    if n % 2 == 0: # verificando se é par
        lista_numeros.append(n/2)
        
    
print(lista_numeros)

[3.0, 1.0, 2.0]

In [15]:
# tuplas
tupla = (i if i % 2 ==0 else 'ímpar' for i in range(100) if i!=0 )

print(list(tupla))

['ímpar', 2, 'ímpar', 4, 'ímpar', 6, 'ímpar', 8, 'ímpar', 10, 'ímpar', 12, 'ímpar', 14, 'ímpar', 16, 'ímpar', 18, 'ímpar', 20, 'ímpar', 22, 'ímpar', 24, 'ímpar', 26, 'ímpar', 28, 'ímpar', 30, 'ímpar', 32, 'ímpar', 34, 'ímpar', 36, 'ímpar', 38, 'ímpar', 40, 'ímpar', 42, 'ímpar', 44, 'ímpar', 46, 'ímpar', 48, 'ímpar', 50, 'ímpar', 52, 'ímpar', 54, 'ímpar', 56, 'ímpar', 58, 'ímpar', 60, 'ímpar', 62, 'ímpar', 64, 'ímpar', 66, 'ímpar', 68, 'ímpar', 70, 'ímpar', 72, 'ímpar', 74, 'ímpar', 76, 'ímpar', 78, 'ímpar', 80, 'ímpar', 82, 'ímpar', 84, 'ímpar', 86, 'ímpar', 88, 'ímpar', 90, 'ímpar', 92, 'ímpar', 94, 'ímpar', 96, 'ímpar', 98, 'ímpar']

In [7]:
lista = []

for i in range(100):
    if i % 2 == 0:
        lista += [i]
    else:
        lista += ['ímpar']
        
print(lista)

[0, 'ímpar', 2, 'ímpar', 4, 'ímpar', 6, 'ímpar', 8, 'ímpar', 10, 'ímpar', 12, 'ímpar', 14, 'ímpar', 16, 'ímpar', 18, 'ímpar', 20, 'ímpar', 22, 'ímpar', 24, 'ímpar', 26, 'ímpar', 28, 'ímpar', 30, 'ímpar', 32, 'ímpar', 34, 'ímpar', 36, 'ímpar', 38, 'ímpar', 40, 'ímpar', 42, 'ímpar', 44, 'ímpar', 46, 'ímpar', 48, 'ímpar', 50, 'ímpar', 52, 'ímpar', 54, 'ímpar', 56, 'ímpar', 58, 'ímpar', 60, 'ímpar', 62, 'ímpar', 64, 'ímpar', 66, 'ímpar', 68, 'ímpar', 70, 'ímpar', 72, 'ímpar', 74, 'ímpar', 76, 'ímpar', 78, 'ímpar', 80, 'ímpar', 82, 'ímpar', 84, 'ímpar', 86, 'ímpar', 88, 'ímpar', 90, 'ímpar', 92, 'ímpar', 94, 'ímpar', 96, 'ímpar', 98, 'ímpar']

In [14]:
# dicionários

dicionario = { k:v for k, v in dados}

print(dicionario)

{'chave1': 1, 'chave2': 2, 'chave3': 3}

In [12]:
dicionario = {}
dados = [('chave1', 1), ('chave2', 2), ('chave3', 3)]

for k, v in dados:
    dicionario[k] = v
    
print(dicionario)

{'chave1': 1, 'chave2': 2, 'chave3': 3}

# Funções

In [20]:
# criar uma função para padronizar uma string
def padroniza_string(texto: str, lower: bool = True) -> str:
    if lower:
        return texto.lower()
    else:
        return texto.upper()
    
print(padroniza_string('Sem passar o SEGUNDO argumento'))
print(padroniza_string('Passando o SEGUNDO argumento True', lower = True))
print(padroniza_string('Passando o SEGUNDO argumento False', lower = False))

sem passar o segundo argumento
passando o segundo argumento true
PASSANDO O SEGUNDO ARGUMENTO FALSE

In [24]:
lista_numeros = [1 , 2 , 3, 4, 5]

In [28]:
def somatorio(*numeros):
    print(numeros)
    print(type(numeros))
    soma = 0
    for n in numeros:
        soma += n
    return soma

In [29]:
somatorio(2, 3, 4, 5)

(2, 3, 4, 5)
<class 'tuple'>

14

In [30]:
somatorio(2, 3)

(2, 3)
<class 'tuple'>

5

In [61]:
somatorio(*lista_numeros)

(1, 2, 3, 4, 5)
<class 'tuple'>

15

In [33]:
# Parâmetros opcionas kwargs

def cadastro(**usuario) -> dict:
    print(usuario)
    print(type(usuario))
    
    return usuario

In [34]:
cadastro(nome='João', cpf = 123456789)

{'nome': 'João', 'cpf': 123456789}
<class 'dict'>

{'nome': 'João', 'cpf': 123456789}

In [36]:
# passando um dicionário para a função

maria = { 'nome': 'Maria', 'cpf': 345678912}

cadastro(**maria)

{'nome': 'Maria', 'cpf': 345678912}
<class 'dict'>

{'nome': 'Maria', 'cpf': 345678912}

ordem dos parâmetros

Caso sua função vá combinar múltiplos tipos de parâmetro, sempre siga a seguinte ordem: argumentos posicionais (os comuns), argumentos com asterisco (tupla), argumentos com valor padrão e argumentos com dois asteriscos (dicionário). Por exemplo, na função abaixo:

```python
def funcao(a, b, *c, d=0, e=1, **f)
```
- os 2 primeiros valores serão atribuídos a "a", "b"
- os próximos valroes, independente da quantidade, serão incluídos na tupla c
- se os valores "d" e/ou "e" forem passados explicitamente pelo nome, os valores passados serão adotados, senão, terão os valores padrão
- quaisquer outros valores passados por nome serão atribuídos ao dicionário "f".

In [51]:
def funcao_com_parametros(a, b, *c, d=0, e=1, **f):
    print(f'Os dois primeiros valores são a={a} e b={b}')
    print(f'A tupla é definida por * e é {c}')
    print(f'Para aparecer o valores de "d" e "e", deve-se colocar explicitamente "d" e "e":{d} e {e}')
    print(f'Para o dicionário é {f}')

In [40]:
funcao_com_parametros(2,3)

Os dois primeiros valores são a=2 e b=3

In [44]:
funcao_com_parametros(2, 3 , 1, 5)

Os dois primeiros valores são a=2 e b=3
A tupla é definida por * e é (1, 5)

In [47]:
funcao_com_parametros(2, 3 , 1, 5, d=4, e=-3)

Os dois primeiros valores são a=2 e b=3
A tupla é definida por * e é (1, 5)
Para aparecer o valores de "d" e "e", deve-se colocar explicitamente d e e:4 e -3

In [52]:
funcao_com_parametros(2, 3 , 1, 5, d=4, e=-3, **{'maria':1, 'joao':2})

Os dois primeiros valores são a=2 e b=3
A tupla é definida por * e é (1, 5)
Para aparecer o valores de "d" e "e", deve-se colocar explicitamente "d" e "e":4 e -3
Para o dicionário é {'maria': 1, 'joao': 2}

In [53]:
funcao_com_parametros(2, 3, x=5)

Os dois primeiros valores são a=2 e b=3
A tupla é definida por * e é ()
Para aparecer o valores de "d" e "e", deve-se colocar explicitamente "d" e "e":0 e 1
Para o dicionário é {'x': 5}

In [ ]:
# Funções anônimas

def sum(lista:list) -> int:
    return sum(lista)

In [54]:
numeros = [3, 4, 7, 2]

# função anônima : lambda

sum_op = lambda lista:sum(lista)

sum_op(lista=numeros)

16

In [56]:
preco = 1000

def calcular_imposto(preco):
    return preco*0.3

print(calcular_imposto(preco))

300.0

In [58]:
calcular_imposto2 = lambda x: x*0.3

print(calcular_imposto2(preco))

300.0

In [60]:
funcao_teste = lambda a, b: a*b

funcao_teste(1,2)

2

**Funções MAP**

In [65]:
# map vai aplicar uma função a todos os elementos
# Converter todo o conteúdo de uma tupla para float

tupla_str = ('1.0', '3.7', '5.4')

map(float, tupla_str) # map(func, *iterables) --> map object

tuple(map(float, tupla_str))

tupla_float = tuple(map(float, tupla_str))

**Funções FILTER**

In [69]:
# Detectando pares em uma lista usando uma função pronta

def eh_par(x):
    return x % 2 == 0

numeros = [1, 3, 4, -8, 6, 10, 11]

filter(eh_par, numeros) # função eh_par na coleção números  - filter(function or None, iterable) --> filter object

list(filter(eh_par, numeros))

pares = list(filter(eh_par, numeros))

print(pares)

[4, -8, 6, 10]

In [70]:
# Detectando negativos em uma lista usando lambda.

numeros = [5, -3, 1, 4, 7, -8, -2]

negativos = list(filter(lambda x: x < 0, numeros))

negativos

[-3, -8, -2]

**Funções REDUCE**

In [72]:
from functools import reduce

lista = [1, 3, 5, 7, 9]

somatorio = reduce(lambda x, y: x + y, lista, 0) # função: o lambda criado; coleção: lista; valor inicial: 0

somatorio

25

In [73]:
# Colocando valor inicial = 5

somatorio_inicial = reduce(lambda x, y: x + y, lista, 5)

print(somatorio_inicial)

30

# Arquivo CSV

In [75]:
tabela = [['Aluno', 'Nota1', 'Nota2', 'Presenças'],
          ['Cassia', 8 , 9, .90],
          ['Jessica', 8, 9.5, .80],
          ['Daiane', 10, 7, 1],
          ['Marina', 9, 8.5, 0.75]
          ]

print('Imprimindo cada elemento individual da tabela:')

for linha in tabela:
    for elemento in linha:
        print(elemento)

Imprimindo cada elemento individual da tabela:
Aluno
Nota1
Nota2
Presenças
Cassia
8
9
0.9
Jessica
8
9.5
0.8
Daiane
10
7
1
Marina
9
8.5
0.75

In [76]:
print('Imprimindo cada "linha" da tabela')
for linha in tabela:
    print(linha)

Imprimindo cada "linha" da tabela
['Aluno', 'Nota1', 'Nota2', 'Presenças']
['Cassia', 8, 9, 0.9]
['Jessica', 8, 9.5, 0.8]
['Daiane', 10, 7, 1]
['Marina', 9, 8.5, 0.75]

In [77]:
print('Imprimindo o elemento na linha 2, coluna 0:')

print(tabela[2][0])

Imprimindo o elemento na linha 2, coluna 0:
Jessica

A sigla CSV significa Comma-Separated Values, ou "valores separados por vírgula". Este formato é uma forma padrão de representar tabelas usando arquivos de texto simples: cada elemento é separado por uma vírgula, e cada linha é separada por uma quebra de linha.

In [80]:
## BONUS

import pandas as pd

df = pd.read_csv('dados_pessoais.csv') # df = dataframe
df

       Nome  Idade  Altura  Peso
0    Amanda     20    1.60    50
1    Carlos     21    1.65    72
2     Diego     30    1.82    93
3  Fernanda     16    1.70    67
4     Paulo     28    1.87    70
5    Raquel     42    1.55    80

In [81]:
# para ver a coluna nome
df['Nome']

0      Amanda
1      Carlos
2       Diego
3    Fernanda
4       Paulo
5      Raquel
Name: Nome, dtype: object

In [83]:
df['Peso_menor'] = df['Peso'] - 5 # emagracimento
df['Peso_menor']

0    45
1    67
2    88
3    62
4    65
5    75
Name: Peso_menor, dtype: int64

In [84]:
df

       Nome  Idade  Altura  Peso  Peso_menor
0    Amanda     20    1.60    50          45
1    Carlos     21    1.65    72          67
2     Diego     30    1.82    93          88
3  Fernanda     16    1.70    67          62
4     Paulo     28    1.87    70          65
5    Raquel     42    1.55    80          75

In [85]:
df['Idade'] = df['Idade'].astype('str')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nome        6 non-null      object
 1   Idade       6 non-null      object
 2   Altura      6 non-null      float64
 3   Peso        6 non-null      int64
 4   Peso_menor  6 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 368.0+ bytes

## Arquivo JSON

JSON é uma sigla para JavaScript Object Notation. O JavaScript é uma linguagem muito utilizada em web, e assim como o Python, ela é uma linguagem orientada a objeto. Ocorre que a forma como objetos são representados nessa linguagem é bastante legível para seres humanos e fácil de decompor usando programação também.

In [89]:
# Transformando JSON em um dicionário Python.

import json

jogador = '{"nome":"Mario","pontuacao":0}'

dicionario = json.loads(jogador)

print(dicionario['nome'])
print(dicionario['pontuacao'])

print(dicionario)

Mario
0
{'nome': 'Mario', 'pontuacao': 0}

In [90]:
# Transformando dicionário em um JSON.

import json

jogador = dict()
jogador['nome']  = 'Mario'
jogador['pontuacao'] = 0

string_json = json.dumps(jogador)

print(string_json)

{"nome": "Mario", "pontuacao": 0}

In [91]:
df

       Nome Idade  Altura  Peso  Peso_menor
0    Amanda    20    1.60    50          45
1    Carlos    21    1.65    72          67
2     Diego    30    1.82    93          88
3  Fernanda    16    1.70    67          62
4     Paulo    28    1.87    70          65
5    Raquel    42    1.55    80          75

In [92]:
df.to_json('arquivo.json') # salvando o dataframe na pasta do projeto com o nome arquivo.json

In [97]:
df.to_json('../Exercicios/arquivo.json') # salvando o dataframe na pasta Exercício com o nome arquivo.json

nome_arquivo.json

https://jsoncrack.com/editor